@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--background-end-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--foreground-rgb))
    )
    rgb(var(--foreground-rgb));

  @apply max-w-layout mx-auto;
}

main {
  @apply container mx-auto my-5;
  @apply md:my-10;
}

main > div {
  @apply flex flex-row flex-wrap items-start justify-center gap-x-5 gap-y-7;
  @apply md:gap-x-7;
  @apply xl:gap-x-14 xl:gap-y-12;
}